.menu {
    text-decoration: none;
    color: black;
}

.line {
    height: 5px;
    background-color: rgb(234, 255, 0);
    width: 70px;
}

p {
    line-height: 35px;
}

.text-content {
    padding: 20px;
}