.content-1 {
    height: 150px;
    background-color: grey;
}

.content-2 {
    height: 200px;
    background-color: grey;
}

.footer {
    background-color: pink;
}

.header {
    background-color: aquamarine;
}